.sobre__conteudo {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 50%;
}

@media (max-width: 1023px) {
    .sobre__conteudo {
        padding-top: 25%;
        width: auto;
    }
}